/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--neon-lightblue: #2dd9fe;
  	--neon-glow-lightblue: #00a3d5;
	--neon-purple: #9461fd;
	--neon-glow-purple: #4003e6;
	--neon-yellow: #ffdb4e;
  	--neon-glow-yellow: #b48505;
	--neon-white: #fefefe;
	--neon-glow-white: #ffffff;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: 'Pixelify Sans',sans-serif;
	background-image: url("./imgs/fliper.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
}

div.container {
	height: 100vh;
	min-width: 400px;
	width: 50vw;
	display: grid;
	background: var(--neon-glow-purple);
	grid-template:"header" "gameboard" "info"; 
	grid-template-columns: 100%;
	grid-template-rows: 1fr 4fr 1fr;
	box-shadow: 0px 0px 50px 10px var(--neon-glow-lightblue);
}

.header {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	min-width: 150px;
	font-size: 4vw;
	background: var(--neon-glow-lightblue);
	padding: 1rem;
	color: var(--neon-white);
	box-shadow: 0px 0px 25px 2.5px var(--neon-glow-white);
	border-radius: 1rem;
	text-align: center;
}

.gameboard {
	grid-area: gameboard;
	margin-bottom: 5vh;
	margin-top: 3vh;
	min-width: 300px;
	width: 30vw;
	justify-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	margin-left: 0.1rem;
}

.info {
	grid-area: info;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}

.player-info {
	display: flex;
	gap: 3vw;
	font-size: 2vw;
	color: var(--neon-white);
}

p {
	background: var(--neon-glow-lightblue);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 25px 2.5px var(--neon-glow-white);
	min-width: 100px;
	text-align: center;
}

button {
	margin-bottom: 1vh;
	height: 2rem;
	width: 10rem;
	border-radius: 1rem;
	outline: none;
	border-style: none;
	background: var(--neon-yellow);
	box-shadow: 0px 0px 25px 2.5px var(--neon-glow-yellow);
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 3vh;
}

button:hover {
	background: var(--neon-glow-yellow);
}

button.cell {
	height: 100%;
	width: 100%;
	border-radius: 0px;
	border: 1px solid black;
	font-size: 50px;
}

div.begin {
	grid-row: 1/-1;
	grid-column: 1/-1;
	justify-self: center;
	font-size: 36px;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	0%, 100% {opacity: 1;}
  	50% {opacity: 0;}
  }
